body {
    background: #f0f0f0;
    font-family: Arial;
}

.login-box {
    width: 300px;
    background: white;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
    text-align: center;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.login-box button {
    width: 95%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.item {
    margin-bottom: 20px;
}
.item img {
    width: 200px;
    display: block;
}

<style>
    .item {
        margin-bottom: 20px;
    }
    .item img {
        width: 200px;
        display: block;
    }
    .item button {
        margin-top: 5px;
    }
  </style>

  body {
    background-color: #1079b6;
    font-family: Arial;
    text-align: center;
    padding: 30px;
  }

  .item img {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0,2);
  }

  body.dashboard-page {
    background: url('ISHA.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

/* Light overlay layer */
body.dashboard-page::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.6); /* adjust transparency */
    backdrop-filter: blur(3px); /* optional soft blur */
    z-index: -1;
}