body {
    background: #f0f0f0;
    font-family: Arial;
}

.login-box {
    width: 300px;
    background: white;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
    text-align: center;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.login-box button {
    width: 95%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}